<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Data Source=localhost; Initial Catalog=IntegracionWD; Persist Security Info=True; User ID=IntegracionWD; Password=IntegracionWD" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <compilation debug="true">

    </compilation>
    <authentication mode="Windows" />
  </system.web>
</configuration>
