<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="connectionString" value="Data Source=localhost; Initial Catalog=IntegracionWD; Persist Security Info=True; User ID=IntegracionWD; Password=IntegracionWD" />
  </appSettings>

  <connectionStrings>
  </connectionStrings>

  <log4net configSource="log4net.config" />

  <system.web>
    <compilation debug="true">

    </compilation>
    <authentication mode="Windows" />
  </system.web>
</configuration>
