<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="success" value="ok"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>

  <log4net configSource="log4net.config" />

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="RESTServiceBehavior" name="IntegracionWD.PersonasRestService">
        <endpoint address="" behaviorConfiguration="RESTEndpointBehavior"
          binding="webHttpBinding" contract="IntegracionWD.IPersonasRestService" />
      </service>
      <service behaviorConfiguration="RESTServiceBehavior" name="IntegracionWD.VehiculosRestService">
        <endpoint address="" behaviorConfiguration="RESTEndpointBehavior"
          binding="webHttpBinding" contract="IntegracionWD.IVehiculosRestService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RESTEndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="RESTServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <!--system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer-->

</configuration>
